body{
    width: 1124px;
    font-family: Roboto, 'Segoe UI';
    border: 2px solid green;
}

.header-top{
  display: flex;
  justify-content: center;
  
  top: 0px;
  background-color: var(--color-light);  
  width: 1124px;
  
 }
 @media screen and (max-width: 768px) {
  .header-top {
    width:90%;
    margin-left: 10px;
  }
}  
.h-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    gap: 702px;
}
 @media screen and (max-width: 768px) {
  .h-title {
    width:50%;
    margin-left: 10px;
    gap:120px;
  }
} 
.h-logo{
    padding: 0 12px ;
}
.h-cabinet{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-button{
    width: 78px;
    height: 40px;
    background-color: white;
    border: 2px solid rgba(224, 224, 224, 1);
}
@media(max-width: 780px)  {
  html{
    width: 750px;
    margin: 0 ;
  } 
}
.h-container{
    background-image: url("imgs/logo2.png");
    width: 1124px;
    height: 364px;
    background-size: cover;
    margin-top:-20px;
}
.menu-title{
    display: flex;
    justify-content: start;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    margin-left: 41px;
}
.m-name{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    color: rgba(98, 98, 98, 1);
   }
.m-first-name{
    color: rgba(50, 116, 48, 1);
    text-decoration: none;
}
.menu-line{
    color: rgba(117, 117, 117, 0.2);
}
.menu-header{
    font-size: 22px;
    color: rgba(29, 29, 29, 1);
    margin-top: 56px;
    margin-left: 81px;
}
.menu-cards{
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

footer{
  background-color: black;
  margin: 80px auto;
  max-width: 100%;
  }
  .footer-logo{
    padding-bottom: 40px;
    padding-top: 56px;
    padding-left: 81px;
  }
  .footer-hr{
    width: 956px;
    color: rgba(151, 151, 151, 1);
  }
  .lang-selector-container{
    padding-left: 81px;
    margin-top: 39px;
    color: white;

  }
  #lang-selector{
    width: 227px;
    height: 40px;
    color: white;
    background-color: black;
  }
  .footer-list{
    display: flex;
    gap: 98px;
    flex-wrap: nowrap;
    text-decoration: none;
    list-style: none;
  }
  .footer-link{
    text-decoration: none;
    color: white;
    
   }
   .footer-links-column{
    margin: 39px;
    line-height: 3.5;
    font-size: 13px;
   }
  .f-U{
    margin-top: 34px;
    font-size: 20px;
  }
  .f-img{
      width: 10px;
      height: 19px;
  }
.social{
  display: flex;
  gap: 12px;
}
.f-soc{
  width: 24px;
  height: 24px;
  border: none;
  margin-top: 10px;
}
.footer-dw-labels{
  display: flex;
  justify-content: center;
  gap:40px;
}
.footer-legal{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  align-items: end;
  gap: 50px;
}
.footer-link{
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer-page {
    width: 750px;
    margin: auto;
    
  }
}
@media screen and (max-width: 576px) {
  .footer-page {
    grid-template-columns: 1fr;
    
  }
}