body{
    width: 1124px;
    padding: 0 81px;
    font-family: Roboto, 'Segoe UI';
}
.header-top{
  box-shadow: 0 0 16px var(--color-gray);
  position: sticky;
  top: 0px;
  background-color: var(--color-light);  
  z-index: 100;
  max-width: 100%;
  position: fixed;
  box-shadow: 0 14px 6px -6px rgba(38, 38, 38, 0.13);
}
.h-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    gap: 702px;
}
.h-logo{
    padding: 0 12px ;
}
.h-cabinet{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-button{
    width: 78px;
    height: 40px;
    background-color: white;
    border: 2px solid rgba(224, 224, 224, 1);
}
.search-container{
    margin-top: 90px;
    width: 962px;
    height: 48px;
    text-align: inherit;
    border-bottom: 2px solid rgba(224, 224, 224, 1);
    text-decoration: none;
    
}
.search-input{
   width: 962px; 
   border: none;
   outline: none;
   color: rgba(98, 98, 98, 1);
   text-decoration: none;
}
#search-input-main{
    padding-top:30px ;
    text-decoration: none;
}    
.stores-cards{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 1124px;
}
.s-container{
  width: 308px;
  height: 366px;
}
.stores-card-pic img:hover {
  transform: scale(1.03);
}

.store-name {
  margin-top: 16px;
}

.store-type {
  color: rgba(98, 98, 98, 1);
  font-size: 13px;
}

.store-time {
  font-size: 13px;
  color: rgba(29, 29, 29, 1);
  margin-bottom: 34px;
}

.store-name,
.store-type {
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .stores-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .stores-cards {
    grid-template-columns: 1fr;
  }
}
footer{
  background-color: black;
  margin: 80px auto;
  }
  .footer-logo{
    padding-bottom: 40px;
    padding-top: 56px;
    padding-left: 81px;
  }
  .footer-hr{
    width: 956px;
    color: rgba(151, 151, 151, 1);
  }
  .lang-selector-container{
    padding-left: 81px;
    margin-top: 39px;
    color: white;

  }
  #lang-selector{
    width: 227px;
    height: 40px;
    color: white;
    background-color: black;
  }
  .footer-list{
    display: flex;
    gap: 98px;
    flex-wrap: nowrap;
    text-decoration: none;
    list-style: none;
  }
  .footer-link{
    text-decoration: none;
    color: white;
    
   }
   .footer-links-column{
    margin: 39px;
    line-height: 3.5;
    font-size: 13px;
   }
  .f-U{
    margin-top: 34px;
    font-size: 20px;
  }
  .f-img{
      width: 10px;
      height: 19px;
  }
.social{
  display: flex;
  gap: 12px;
}
.f-soc{
  width: 24px;
  height: 24px;
  border: none;
  margin-top: 10px;
}
.footer-dw-labels{
  display: flex;
  justify-content: center;
  gap:40px;
}
.footer-legal{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  align-items: end;
  gap: 50px;
}
.footer-link{
  text-decoration: none;
  list-style: none;
}
